:root {
    --primary-color: #D81010;
    --white-color: hsl(0, 0%, 96%);
    --dark-color: #333333;
}

.newsCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.060);
    border-radius: .8rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.28);
    transition: .3s;
    cursor: pointer;
}

.newsCard .img {
    width: 100%;
    min-width: 400px;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.newsCard img {
    width: 100%;
    border-radius: .3rem;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.newsCard .generalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 1.2rem;
}

.newsCard h3 {
    min-height: calc(1.3rem * 3);
    font-size: 1.3rem;
    font-weight: 600;
}

.newsCard p {
    color: #888888;
    margin-bottom: -0.3rem;
    font-size: .9rem;
}

.newsCard a {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}