/* Estilizações do menu de navegação - header */
.navContainer {
    width: 100%;
    height: auto;
    padding-block: 1rem;
    border-top: .5px solid var(--offwhite-color);
}

.navList {
    display: flex;
    justify-content: space-between;
    padding-inline: 1.3rem;
}

.navItem {
    color: var(--offwhite-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    padding-inline: .5rem;
}

.navItem:hover {
    color: var(--white-color);
}

/* Estilizações do menu de navegação - footer */
.footerNavContainer {
    display: flex;
    gap: 5rem;
}

.footerNavList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .8rem;
}

.footerNavItem {
    color: var(--offwhite-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    padding-inline: .5rem;
    text-decoration: none;
}

.footerNavItem:hover {
    text-decoration: underline;
}