main {
    width: 100%;
    max-width: 1280px;
    min-height: 80vh;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.281);
}

.breakingNewsContainer {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    column-gap: 2rem;
}