/* Estilizações do campo de pesquisa */
.searchContainer {
    width: 500px;
}

.inputSearch {
    width: 100%;
    padding: .8rem;
    border: none;
    border-radius: .3rem;
    outline: none;
}

.iconSearch {
    height: 24px;
    width: 24px;
    margin-left: -2rem;
    margin-bottom: -0.5rem;
    cursor: pointer;
}