.footer {
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
}

.topFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 3rem 1rem 3rem;
    height: 100%;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 2.2rem;
}

hr {
    width: 100%;
}

.copyrightText {
    padding-block: 1.18rem;
    color: var(--white-color);
    text-align: center;
}